@import '@marcobiedermann/ui-themes-default';

:root {
  --header-background-color: #222;
  --header-color: #fff;
  --header-padding-vertical: 1em;
}

.header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  padding-bottom: var(--header-padding-vertical);
  padding-top: var(--header-padding-vertical);
}
